/***** FONTS *****/
@font-face {
    font-family: FonteTitle;
    src: url(../assets/fonts/Saira-Bold.ttf);
}

@font-face {
    font-family: FonteBody;
    src: url(../assets/fonts/Armata-Regular.ttf);
}

html button{
    font-family: FonteBody;
}

input{
    font-family: FonteBody; 
}

p{
    font-family: FonteBody;
}